{{#if comments}}
<div class="py-8 post-comments bg-gray-150">
    <div class="max-w-3xl px-4 mx-auto">
        {{!-- {{comments title=(t "Discussion")}} --}}
        <div id='discourse-comments'></div>
    </div>
</div>
{{/if}}
